/crash-reports*
/datapacks*
/modernfix*
/mods*
/immersive_paintings*
/kubejs/assets/ponderjs_generated*
/kubejs/exported*
/logs*
/resourcepacks*
/saves*
/schematics/uploaded*
/screenshots*
/shaderpacks*
/Xaero*
hs_err_pid*
replay_pid*
rhino.local.properties
/servers.dat
servers.dat_old
usercache.json
usernamecache.json
WailaErrorOutput.txt

/dynmap*
dynmap/*

/options.txt
patchouli_data.json
